* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

header {
    background-color: #ADD1EA;
    height: 730px;
}

.container-big{
    width: 1300px;
    margin: 0 auto;
    padding-top: 80px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
}

button {
    border: none;
    background-color: #0063FF;
    color: #fff;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

p {
    margin: 30px 0;
}

.p-small{
    font-size: 15px;
}

/* ----------------------------- */

/* topbar */

.topbar {
    height: 80px;
    background-color: #fff;
}

.topbar .row {
    line-height: 80px;
    padding: 0 30px;
}

.logo {
    width: 150px;
}

.logo img {
    vertical-align: middle;
    width: 100%;
}

.menu-left li {
    display: inline-block;
    padding: 0 0 0 40px;
}

.menu-right li {
    display: inline-block;
    padding: 0 40px 0 0;
}

/* contenuto header */

.container-big h1 {
    font-size: 75px;
}

.jumbo-text {
    margin: 30px 40px 0 0;
    width: calc(38% - 40px);
}

.jumbo-img {
    margin-top: 60px;
    width: 62%;
}

.jumbo-img img {
    width: 100%;
}

.container-big p:last-of-type {
    font-size: 15px;
    margin: 15px 0;
}

.jumbo-text .fas {
    margin-top: 20px;
    font-size: 40px;
}